@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-opacity-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --dark-backgroud-color: #2f303a;
  --black-color: #000000;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.title-hidden {
  display: none;
}

body {
  margin: 0;
  background-color: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  color: inherit;
}

.border-bottom {
  border-bottom: 1px solid #ececec;
}

.section, .clients-section, .portfolio {
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.button, .hero__button, .portfolio__button {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  text-align: center;
  cursor: pointer;
}

.hero__button {
  padding: 10px 32px;
  min-width: 200px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio__button {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 8px;
  border: none;
}

.portfolio__button:not(:last-child) {
  margin-right: 0;
}

.portfolio__button:hover, .portfolio__button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.social__list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
}

.social__link:hover .social__icon,
.social__link:focus .social__icon {
  fill: var(--white-color);
}

.social__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700px;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}

.logo-dark {
  color: var(--black-color);
}

.logo-light {
  color: var(--white-color);
}

.section__title, .portfolio-card__title, .team__title, .clients__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700px;
  font-size: 36px;
  line-height: 1.16;
}

.portfolio-card__title {
  margin-bottom: 4px;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__element {
  display: flex;
}

.navigation__element-main {
  align-items: center;
}

.navigation__menu {
  display: flex;
  margin-left: 93px;
}

.navigation__menu .navigation__link.current {
  color: var(--accent-color);
}

.navigation__menu .navigation__link.current::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 4px;
  border-radius: 2px;
  bottom: 0;
  display: block;
  background-color: var(--accent-color);
}

.navigation__menu .navigation__link:hover,
.navigation__menu .navigation__link:focus {
  color: var(--accent-color);
}

.navigation__item .navigation__contact:hover,
.navigation__item .navigation__contact:focus {
  color: var(--accent-color);
}

.navigation__item:not(:last-child) {
  margin-right: 50px;
}

.navigation__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation__element-contact {
  margin-left: auto;
}

.navigation__contacts {
  display: inline-flex;
  align-items: center;
  margin: 0;
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__contacts:hover, .navigation__contacts:focus {
  color: var(--accent-color);
}

.navigation__contacts:hover .navigation__icon,
.navigation__contacts:focus .navigation__mail,
.navigation__contacts:hover .navigation__tel,
.navigation__contacts:focus .navigation__tel {
  fill: var(--accent-color);
}

.navigation__icon {
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation__icon:hover {
  fill: var(--accent-color);
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal__close-icon {
  fill: currentColor;
}

.modal__btn {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
}

.modal__btn:hover, .modal__btn:focus {
  color: var(--accent-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__head {
  margin-bottom: 12px;
  margin-top: 0;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal-form__field {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal-form__wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.modal-form__input:focus, .modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
}

.modal-form__message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.modal-form__message::placeholder {
  font-family: Roboto;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form__checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

.modal-form__checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 1px solid #212121;
  border-radius: 2px;
  cursor: pointer;
}

.modal-form__checkbox:checked + .modal-form__checkbox-label::before {
  background-color: var(--accent-color);
  background-image: url(../image/icon-check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:focus + .modal-form__checkbox-label::before {
  outline: 2px solid var(--accent-color);
}

.modal-form__checkbox-link {
  color: var(--accent-color);
}

.modal-form__button {
  width: 200px;
  height: 50px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-left: 124px;
  min-width: 200px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--dark-backgroud-color);
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero-bg.jpg);
  max-width: 1600рх;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 696px;
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.company-ideal {
  padding-top: 94px;
}

.company-ideal__block {
  display: flex;
}

.company-ideal__item {
  width: 270px;
  margin-right: 30px;
}

.company-ideal__item:last-child {
  margin-right: 0;
}

.company-ideal__icon {
  display: block;
  background-color: #f5f4fa;
  text-align: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-ideal__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.company-ideal__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
}

.our-work__block {
  display: flex;
  justify-content: space-between;
}

.our-work__title {
  text-align: center;
}

.our-work__item {
  position: relative;
}

.our-work__text {
  color: var(--white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0px;
  left: 0;
  margin: 0;
  background-color: rgba(47, 48, 58, 0.8);
  width: 100%;
  height: 70px;
  padding-top: 27px;
}

.team {
  padding-top: 94px;
  background-color: var(--secondary-background-color);
}

.team__title {
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: space-between;
}

.team__cards {
  padding-bottom: 30px;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list__title {
  margin-top: 30px;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-list__text {
  margin: 0;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}

.clients-section {
  padding-top: 94px;
}

.clients__title {
  text-align: center;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
}

.clients__item:not(:last-child) {
  margin-right: 30px;
}

.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__link:hover, .clients__linkk:focus {
  border: 1px solid var(--accent-color);
}

.clients__link:hover .clients__icon,
.clients__link:focus .clients__icon {
  fill: var(--accent-color);
}

.clients__icon {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio {
  padding-top: 94px;
}

.portfolio-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin: -30px 0 0 -30px;
}

.portfolio__element {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  flex-basis: calc((100% - 90px) / 3);
  margin: 30px 0 0 30px;
}

.portfolio__element:hover, .portfolio__element:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__element:hover .portfolio__img-text {
  transform: translateY(-100%);
}

.portfolio__card-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio__img {
  display: block;
}

.portfolio__img-text {
  position: absolute;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  margin: 0;
  padding: 63px 24px;
  height: 100%;
  top: 100%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.portfolio-card__text {
  margin: 0;
}

.footer {
  padding: 60px 0 60px 0;
  background-color: var(--dark-backgroud-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer__box {
  display: flex;
  align-items: baseline;
}

.footer-left {
  margin-right: 70px;
}

.footer__title {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  color: var(--white-opacity-color);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer__contacts {
  color: var(--white-opacity-color);
  margin-top: 9px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.footer__address-span {
  color: var(--white-color);
}

.footer__social {
  display: flex;
}

.footer__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover, .footer__link:focus {
  background-color: var(--accent-color);
}

.footer__icon {
  fill: var(--white-color);
}

.footer-form {
  margin-left: 93px;
}

.footer-form__head {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-color);
  margin: 0;
  margin-bottom: 20px;
}

.footer-form__input {
  width: 358px;
  height: 50px;
  padding-left: 16px;
  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--white-color);
}

.footer-form__btn {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  padding: 10px 29px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--white-color);
  background-color: var(--accent-color);
  display: inline-flex;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.footer-form__btn-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  margin-right: 10px;
}
/*# sourceMappingURL=main.css.map */