:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --white-opacity-color: rgba(255, 255, 255, 0.6);
  --secondary-background-color: #f5f4fa;
  --dark-backgroud-color: #2f303a;
  --black-color: #000000;
}
