.company-ideal {
  margin-top: 60px;

  @media screen and (min-width: 1200px) {
    margin-top: 94px;
  }
}

.company-ideal__block {
  display: flex;
  flex-direction: column;
  text-align: center;

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: -30px;
    margin-top: -30px;
  }

  @media screen and (min-width: 1200px) {
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.company-ideal__item {
  margin-top: 30px;

  &:first-child {
    margin-top: 0;
  }

  @media screen and (min-width: 768px) {
    &:first-child {
      margin-top: 30px;
    }
    margin-left: 30px;
    margin-top: 30px;
    flex-basis: calc((100% - 60px) / 2);
  }
}

.company-ideal__icon {
  display: block;
  background-color: #f5f4fa;
  text-align: center;

  width: auto;
  height: 120px;

  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.company-ideal__title {
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 10px;

  font-weight: 700px;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.company-ideal__text {
  margin: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
